{% extends "base.html" %}
{% block title %}Delete Goal{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:goal_view' goal.pk %}">Cancel</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete project "{{ goal.summary }}"?</h1>
    <form action="{% url "webapp:goal_delete" goal.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url 'webapp:index' %}">Cancel</a></p>
    </form>
{% endblock %}