
{% for project in projects %}
    <div class="projects">
        <div class="text-block">
            <h2>
                {% if perms.webapp.delete_project %}
                <input type="checkbox" name="selected_projects"
                       id="selected_projects-{{ project.pk }}" value="{{ project.pk }}">
                {% endif %}
                <a class="summary" href="{% url 'webapp:project_view' project.pk %}">{{ project.name }}</a>
            </h2>
            <p>Описание: {{ project.description }} </p>
            <p>Количество задач: {{ project.goals.count }}</p>
        </div>
    {% if request.user.is_authenticated %}
        <div class="icon-block">
            {% if perms.webapp.change_project %}
                <p><a class="icon update" href="{% url 'webapp:project_update' project.pk %}">Update</a></p>
            {% endif %}
            {% if perms.webapp.delete_project %}
                <p><a class="icon delete" href="{% url 'webapp:project_delete' project.pk %}">Delete</a></p>
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endfor %}

