{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block search %}
    <div class="search-form">
        <form action="{% url 'index' %}" method="GET">
            {{ form.search }}
            <input type="submit" value="Найти">
        </form>
    </div>
{% endblock %}

{% block content %}
    <h1 class="headline">Goals</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for goal in goals %}
        <div class="goal">
            <div class="text-block">
                <h2><a class="summary" href="{% url 'goal_view' goal.pk%}">{{ goal.summary }}</a></h2>
                <p>Cтатус: {{ goal.status }} </p>
                <p>Типы: {% for type in goal.type.all %}{{type.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            </div>
            <div class="icon-block">
                <p><a class="icon update" href="{% url 'goal_update' goal.pk %}">Update</a></p>
                <p><a class="icon delete" href="{% url 'goal_delete' goal.pk %}">Delete</a></p>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
