/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    color: #444444;*/
/*    margin-top: 60px;*/
/*}*/

/*.container {*/
/*    margin: 0 auto;*/
/*    width: 100%;*/
/*    max-width: 900px;*/
/*}*/

/*.navbar {*/
/*    display: block;*/
/*    background: #6a7dff;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    font-size: 0;*/
/*    box-sizing: border-box;*/
/*    padding: 7px 30px;*/
/*}*/

/*.menu {*/
/*    font-size: 14px;*/
/*    line-height: 1;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: inline-block;*/
/*    color: #fffee8;*/
/*}*/

/*.menu li {*/
/*    display: inline-block;*/
/*}*/

/*.menu a {*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*    padding: 5px 15px;*/
/*}*/

/*.menu a:hover {*/
/*    color: #ffc122;*/
/*    text-decoration: underline;*/
/*}*/

.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.pre {
    white-space: pre;
}

.form-input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: gray;
    color: white;
    padding: 3px 5px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-error {
    border: solid 1px red;
    background: darkred;
    color: white;
}

.form-error:focus {
    box-shadow: 0 0 5px rgba(255, 200, 200)
}

.red {
    color: red;
    font-weight: bold;
}

.search-form {
    display: inline-block;
    float: right;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.goals {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 30px;
}

.goals-but {
    margin: auto 0 auto auto;
}

.goal-text {
    margin: auto auto auto 0;
}

.goal {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    background-color: lightskyblue;
}

/*.text-block h2:before{*/
/*    counter-increment: heading;*/
/*    content: "№ " counter(heading)*/
/*}*/
.icon-block {
    font-size: 30px;
    margin: auto 0 auto auto;
}

.icon {
    display: inline-block;
    width: 62px;
    border: 1px solid black;
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.update {
    background-color: green;
}

.delete {
    background-color: red;
}

.summary {
    text-decoration: none;
    color: black;
}

.headline {
    text-align: center;
}

.mass-actions {
    text-align: right;
}

input[type='submit']:hover {
    cursor: pointer;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}