{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block search %}
    <div class="search-form">
        <form action="{% url 'index' %}" method="GET">
            {{ form.search }}
            <input type="submit" value="Найти">
        </form>
    </div>
{% endblock %}

{% block content %}
    <h1 class="headline">Projects</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <form action="{% url "project_mass_action" %}" method="post">
        {% csrf_token %}
    <p class="mass-actions"><input type="submit" name="delete" value="Delete selected"></p>

        {% for project in projects %}
            <div class="goal">
                <div class="text-block">
                    <h2>
                        <p>
                            <input type="checkbox" name="selected_projects"
                            id="selected_projects-{{ project.pk }}" value="{{ project.pk }}">
                            <a class="summary" href="{% url 'project_view' project.pk %}">{{ project.name }}</a>
                        </p>
                    </h2>
                    <p>Описание: {{ project.description }} </p>
                    <p>Количество задач: {{ project.goals.count }}</p>
                </div>
                <div class="icon-block">
                    <p><a class="icon update" href="{% url 'project_update' project.pk %}">Update</a></p>
                    <p><a class="icon delete" href="{% url 'project_delete' project.pk %}">Delete</a></p>
                </div>
            </div>
        {% endfor %}

    </form>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
