
{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{#{% block search %}#}
{#    <div class="search-form">#}
{#     <form class="form-inline my-2 my-lg-0" action="{% url 'webapp:index' %}" method="GET">#}
{#         {{ form.search }}#}
{#         <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
{#        <form action="{% url 'webapp:index' %}" method="GET">#}
{#            {{ form.search }}#}
{#            <input type="submit" value="Найти">#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{% block content %}

    <h1 class="headline">Projects</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <form action="{% url "webapp:project_mass_action" %}" method="post">
        {% csrf_token %}
        {% if perms.webapp.delete_project %}
            <p class="mass-actions"><input type="submit" name="delete" value="Delete selected"></p>
        {% endif %}
        {% include 'partial/project_list.html'%}
    </form>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}

