{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:project_update' project.pk %}">Update Project</a></li>
    <li><a href="{% url 'webapp:project_delete' project.pk %}">Delete Project</a></li>
    <li><a href="{% url 'webapp:goal_add' project.pk %}">Add Goal</a></li>
    <li><a href="{% url 'webapp:index' %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <p>Описание: {{ project.description }}</p>
    <p>Начало проекта: {{ project.start_date }}</p>
    <p>Окончание проекта: {{ project.end_date }}</p>
    <h3>Goals: </h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for goal in goals %}
            <div class="box goals">
                <div class="goal-text">
                    <li><a href="{% url 'webapp:goal_view' goal.pk %}">{{ goal.summary }}</a></li>
                </div>
                <div class="goals-but">
                    <p><a href="{% url 'webapp:goal_update' goal.pk %}">Update</a></p>
                    <p><a href="{% url 'webapp:goal_delete' goal.pk %}">Delete</a></p>
                </div>
            </div>
        {% empty %}
            <p>No goals</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}

