{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_project %}
        <li><a class="nav-link" href="{% url 'webapp:project_update' project.pk %}">Update Project</a></li>
    {% endif %}
    {% if perms.webapp.delete_project %}
        <li><a class="nav-link" href="{% url 'webapp:project_delete' project.pk %}">Delete Project</a></li>
    {% endif %}
    {% if perms.webapp.add_goal and request.user in project.user.all %}
        <li><a class="nav-link" href="{% url 'webapp:goal_add' project.pk %}">Add Goal</a></li>
    {% endif %}
    {% if perms.auth.add_user and request.user in project.user.all %}
        <li><a class="nav-link" href="{% url 'webapp:add_user' project.pk %}">Add User</a></li>
    {% endif %}
    <li><a class="nav-link" href="{% url 'webapp:index' %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <p>Описание: {{ project.description }}</p>
    <p>Начало проекта: {{ project.start_date }}</p>
    <p>Окончание проекта: {{ project.end_date }}</p>
    <h3 class="headline">Goals</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
        {% for goal in project.goals.all %}
        <div class="goals">
            <div class="text-block">
                <h4 class="summary"><a href="{% url 'webapp:goal_view' goal.pk %}">{{ goal.summary }}</a></h4>
                <p>Description: {{ goal.description }}</p>
            </div>
            <div class="goals-but">
                {% if perms.webapp.change_goal and request.user in goal.project.user.all  %}
                    <p><a href="{% url 'webapp:goal_update' goal.pk %}">Update</a></p>
                {% endif %}
                {% if perms.webapp.delete_goal and request.user in goal.project.user.all %}
                    <p><a href="{% url 'webapp:goal_delete' goal.pk %}">Delete</a></p>
                {% endif %}
            </div>
        </div>
        <hr>
        {% empty %}
            <p>No goals</p>
        {% endfor %}
         <h4 class="headline">User</h4>
         {% for user in project.user.all %}
             <li>{{user}}</li>
         {% empty %}
            <p>No users</p>
         {% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}

